@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');





body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    background: #353535;
    color: #fff;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
}

header {
    padding: 20px 40px;
    background-color: #004c23;
    align-items: center;
}

header h1 {
    grid-column-start: 1;
    grid-column-end: 6;
    font-size: ;

}

header nav {
    grid-column-start: 7;
    grid-column-end: 13;
    justify-self: right;

}

header nav a {
    text-decoration: none;
    color: #fff;
    margin: 10px;
}

main {
    padding: 20px;
    margin: 60px auto;
    max-width: 1200px;

}

main img {
    grid-column-start: 1;
    grid-column-end: 7;
    width: 100%;
}

main .welcome {
    grid-column-start: 8;
    grid-column-end: 13;
}

main h3 {
    grid-column: span 12;
    text-align: center;
    font-size: 2rem;
    text-decoration: underline;

}

main .card {
    text-align: center;
    grid-column: span 4;
    background-color: green;
}

@media (max-width: 1000px) {
    main img {
        grid-column-start: 2;
        grid-column-end: 12;
    }

    main .welcome {
        grid-column-start: 2;
        grid-column-end: 12;
    }

    main .card
}

@media (max-width: 550px) {
    header {
        padding: 20px 0;
        padding-top: 0;
    }

    header h1 {
        grid-column: span 12;
        text-align: center;
    }

    header nav {
        grid-column: span 12;
        justify-self: center;
        font-size: 2rem;
    }

    header nav a {
        margin: 15px;
    }
}